openapi: 3.1.0
info:
  title: Sentry Error Monitoring Alerts Organizations API
  description: Sentry provides error monitoring and performance tracking REST APIs for software applications. APIs enable issue management, event retrieval, release tracking, alert configuration, and project administration. All endpoints are scoped to an organization. Current API version is v0.
  version: '0'
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
  license:
    name: Sentry Terms of Service
    url: https://sentry.io/terms/
servers:
- url: https://sentry.io/api/0
  description: Sentry SaaS API
security:
- AuthToken: []
- BearerAuth: []
tags:
- name: Organizations
  description: Organization-level resources
paths:
  /organizations/:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: Returns a list of organizations available to the authenticated user.
      tags:
      - Organizations
      parameters:
      - name: member
        in: query
        schema:
          type: boolean
        description: Restrict results to organizations where user is a member
      - name: owner
        in: query
        schema:
          type: boolean
        description: Restrict results to organizations where user is an owner
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /organizations/{organization_slug}/:
    get:
      operationId: retrieveOrganization
      summary: Retrieve an organization
      description: Returns details for a specific organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrganizationSlug'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '403':
          description: Forbidden
        '404':
          description: Not found
components:
  parameters:
    OrganizationSlug:
      name: organization_slug
      in: path
      required: true
      schema:
        type: string
      description: Organization slug
      example: my-organization
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        dateCreated:
          type: string
          format: date-time
        status:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        features:
          type: array
          items:
            type: string
        avatar:
          type: object
          properties:
            avatarType:
              type: string
            avatarUuid:
              type: string
        isEarlyAdopter:
          type: boolean
        requiresSso:
          type: boolean
        plan:
          type: string
        planDetails:
          type: object
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
        errors:
          type: object
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Format: Token YOUR_AUTH_TOKEN'
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth2 Bearer token for integrations
